@use "../abstracts/variables";
@use "../abstracts/typography";
@use "sass:map";

$connectingLineGap: 1rem;

.categoryPageProgressBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  position: relative;

  width: 100%;

  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
}

.labels,
.nodes {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.label,
.nodeContainer {
  @include typography.categoryPageProgressBarLabel;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20%;
  text-align: center;
}

.node {
  background-color: black;

  border-radius: 100%;

  width: 0.5rem;
  height: 0.5rem;
  &.unvisited {
    background: map.get(variables.$colors, "text", "light");
    border: 1.4px solid map.get(variables.$colors, "gray", 20);
  }
  &.incomplete {
    background: map.get(variables.$colors, "text", "light");
    border: 2px dotted map.get(variables.$colors, "gray", 40);
  }
  &.complete {
    background: map.get(variables.$colors, "gray", 40);
  }
  &.active {
    background: map.get(variables.$colors, "text", "dark");
    border: 1px solid transparent;
  }
}

.connectingLines {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: calc(2 * $connectingLineGap);

  position: absolute;
  left: 0;
  right: 0;

  width: 100%;
  height: 100%;

  .connectingLine {
    height: 1px;
    width: calc(20% - (1rem / 5) - 2 * ($connectingLineGap));

    margin-bottom: 0.71rem;
    border-bottom: 1px dashed black;
  }
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
  gap: 1rem;

  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;

  .link {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (min-width: 800px) {
  .label {
    font-size: 0.75rem;
  }
}
