.categoryPageHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: relative;

  width: 100%;
  padding: 1rem 0 0;
}

.backIcon {
  height: 44px;
  width: 44px;
  padding: 10px 1rem;
}

.amplifierLogoLink {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.amplifierLogo {
  height: 2rem;
}
