@use "../abstracts/variables";
@use "../abstracts/typography";
@use "sass:map";

.linkButton {
  width: 100%;
  display: inline-block;
  border-radius: 0.75rem;
  padding: 1rem 0;
  @include typography.linkButton;
}

.greyedOut {
  @extend .linkButton;
  color: map.get(variables.$colors, "gray", 90);
  background: map.get(variables.$colors, "gray", 20);
}

.greenLight {
  @extend .linkButton;
  color: white;
  // background: #1dc177; // bright recommendation
  // background: #1aa064; // sanity green-500
  background: #04ad61; // sanity green-500, brightened and saturated
  // background: #07a74c; // darker recommendation
}
