@use '../abstracts/variables';
@use '../abstracts/mixins';
@use '../abstracts/typography';
@use 'sass:map';

.home {
  background: white;

  @include mixins.flexColumn;
  justify-content: center;
  align-items: center;
  flex: 1 0;
  gap: 3rem;

  height: 100vh;

  padding: 1rem;
}

.linkBlock {
  @include mixins.flexColumn;
  justify-content: center;
  align-items: center;
}

.amplifierLogo {
  width: 140px;
}

.praudLink {
  padding: 1rem;
}

.textBlock {
  @include mixins.flexColumn;
  gap: 0.375rem;

  width: max-content;

  margin: 0.5rem 0 0;
}

.title {
  @include typography.homeTitle;
  color: map.get(variables.$colors, 'gray', 100);
}

.subTitle {
  @include typography.homeSubTitle;
  color: map.get(variables.$colors, 'gray', 100);
}
