@use "../abstracts/variables";
@use "../abstracts/typography";
@use "sass:map";

.resultPage {
  background: map.get(variables.$colors, "text", "light");

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  height: 100vh;
  width: 100%;

  padding: 1rem;
}

.withoutPadding {
  @extend .resultPage;
  padding: 0;
}

.contents {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 0.5rem;

  width: 100%;
  max-width: 100%;
  height: auto;
}

.title {
  margin-top: 2.75rem;
  @include typography.categoryPageCategoryTitle;
}

.image {
  background: map.get(variables.$colors, "gray", 10);

  aspect-ratio: 1;
  object-fit: cover;

  width: 100%;
  max-width: 600px;
  height: auto;

  margin-top: 1.25rem;
}

.linkButtonContainer {
  position: absolute;
  bottom: 0;

  display: flex;
  flex-direction: row;
  gap: 1rem;

  padding: 0 1.5rem 1.5rem;

  width: 100%;
}

.shareButton {
  @include typography.linkButton;
  background: #c0ecd7;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 0.75rem;
  width: 100%;

  .emailIcon {
    width: 50px;
    fill: none;
    stroke: #1d4230;
    stroke-width: 3;
  }

  &:hover {
    cursor: pointer;
  }
}

.modal {
  background-color: rgba($color: #eee, $alpha: 0.75);
  backdrop-filter: blur(8px);

  position: absolute;

  width: 100%;
  max-width: 1200px;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  width: 80%;
  max-width: 600px;
  height: 100%;
  margin: auto;
}

.hide {
  display: none;
}

.modalButtons {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  .modalButton {
    @extend .shareButton;

    padding: 1rem;

    &:hover {
      cursor: pointer;
    }
  }

  .close {
    @extend .modalButton;
    width: 100%;
    background: map.get(variables.$colors, "text", "light");
    border: 1.5px solid map.get(variables.$colors, "gray", 30);
    color: map.get(variables.$colors, "gray", 50);
  }
  .submit {
    @extend .modalButton;
    color: #1d4230;
    width: 100%;
  }
}

.label {
  @include typography.resultLabel;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  margin-bottom: 1.5rem;
}

.textInput {
  @include typography.resultTextInput;

  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
}

// for larger screens like tablets
@media only screen and (min-width: 800px) {
  .content,
  .linkButtonContainer {
    max-width: 650px;
  }
}
