@use "../scss/variables";
@use "../scss/mixins";
@use "../scss/typography";
@use "sass:map";

.home {
  background: white;

  @include mixins.flexColumn;
  justify-content: center;
  align-items: center;

  height: 100vh;

  padding: 1rem;
}

.content {
  @include mixins.flexColumn;
  justify-content: center;
  align-items: center;
  flex: 1 0;
  gap: 3rem;
}

.linkBlock {
  @include mixins.flexColumn;
  justify-content: center;
  align-items: center;
}

.amplifierLogo {
  width: 140px;
}

.praudLink {
  padding: 1rem;
}

.textBlock {
  margin: 0.5rem 0 0;
  width: max-content;
  @include mixins.flexColumn;
  gap: 0.375rem;
}

.title {
  @include typography.homeTitle;
  color: map.get(variables.$colors, "gray", 100);
}

.subTitle {
  @include typography.homeSubTitle;
  color: map.get(variables.$colors, "gray", 100);
}
