@use "../scss/variables";
@use "../scss/mixins";
@use "../scss/typography";
@use "sass:map";

.notFound {
  background: white;

  @include mixins.flexColumn;
  justify-content: center;
  align-items: center;

  height: 100vh;

  padding: 1rem;
}

.content {
  padding-top: 1rem;
  flex: 1;
}

.linkButtonContainer {
  flex: 0;

  display: flex;
  flex-direction: row;
  gap: 1rem;

  position: absolute;
  bottom: 0;

  width: 100%;
  max-width: 500px;

  padding: 0 1.5rem 1.5rem;
}

.button {
  @include typography.linkButton;

  background: map.get(variables.$colors, "text", "light");
  border: 1.5px solid map.get(variables.$colors, "gray", 30);
  color: map.get(variables.$colors, "gray", 70);

  border-radius: 0.75rem;
  padding: 1rem 0;

  width: 100%;
  text-align: center;

  &:last-child {
    background: map.get(variables.$colors, "gray", 100);
    color: map.get(variables.$colors, "text", "light");
  }
}

// for larger screens like tablets
@media only screen and (min-width: 800px) {
  .linkButtonContainer {
    max-width: 650px;
  }
}
