@use "../scss/variables";
@use "../scss/mixins";
@use "../scss/typography";
@use "sass:map";

.root {
  background: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  padding: 16px;
}

.content {
  flex: 1;
  padding-top: 16px;
}

.buttons {
  flex: 0;

  display: flex;
  flex-direction: row;
  gap: 16px;

  position: absolute;
  bottom: 0;

  width: 100%;
  max-width: 500px;
  padding: 0 24px 24px;
}

.button {
  @include typography.linkButton;
  text-align: center;

  background: map.get(variables.$colors, "text", "light");
  color: map.get(variables.$colors, "gray", 70);

  width: 100%;
  border: 1.5px solid map.get(variables.$colors, "gray", 30);
  border-radius: 12px;
  padding: 16px 0;

  &:last-child {
    background: map.get(variables.$colors, "gray", 100);
    color: map.get(variables.$colors, "text", "light");
  }
}

@media only screen and (min-width: 800px) {
  .buttons {
    max-width: 650px;
  }
}
