@use "../scss/variables";
@use "../scss/typography";
@use "sass:map";

.root {
  background: map.get(variables.$colors, "text", "light");

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  height: 100vh;
  width: 100%;
  padding: 16px;

  &WithoutPadding {
    @extend .root;
    padding: 0;
  }
}

.contents {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 0 8px;
}

.title {
  @include typography.categoryPageCategoryTitle;
  margin-top: 44px;
}

.image {
  background: map.get(variables.$colors, "gray", 10);
  object-fit: cover;

  width: 100%;
  max-width: 600px;
  aspect-ratio: 1;
  margin-top: 20px;
}

.linkButtonContainer {
  display: flex;
  gap: 16px;

  position: absolute;
  bottom: 0;

  width: 100%;
  padding: 0 24px 24px;
}

.shareButton {
  @include typography.linkButton;
  background: #c0ecd7;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 12px;
  width: 100%;

  .emailIcon {
    width: 50px;
    fill: none;
    stroke: #1d4230;
    stroke-width: 3;
  }

  &:hover {
    cursor: pointer;
  }
}

.modal {
  background-color: rgba($color: #eee, $alpha: 0.75);
  backdrop-filter: blur(8px);

  position: absolute;

  width: 100%;
  max-width: 1200px;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  width: 80%;
  max-width: 600px;
  height: 100%;
  margin: auto;
}

.hide {
  display: none;
}

.modalButtons {
  display: flex;
  gap: 16px;

  .modalButton {
    @extend .shareButton;
    padding: 16px;

    &:hover {
      cursor: pointer;
    }
  }

  .close {
    @extend .modalButton;
    background: map.get(variables.$colors, "text", "light");
    border: 1.5px solid map.get(variables.$colors, "gray", 30);
    color: map.get(variables.$colors, "gray", 50);

    width: 100%;
  }
  .submit {
    @extend .modalButton;
    color: #1d4230;

    width: 100%;
  }
}

.label {
  @include typography.resultLabel;
  display: flex;
  flex-direction: column;
  gap: 8px;

  margin-bottom: 24px;
}

.textInput {
  @include typography.resultTextInput;

  border-radius: 8px;
  padding: 12px 16px;
}

@media only screen and (min-width: 800px) {
  .content,
  .linkButtonContainer {
    max-width: 650px;
  }
}
