@use "../scss/variables";
@use "../scss/typography";
@use "sass:map";

.root {
  flex: 1;

  display: flex;
  align-items: flex-start;

  width: 100%;
  border-top: 1px solid map.get(variables.$colors, "gray", 20);
  padding-top: 12px;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 50px;
  aspect-ratio: 1;
  margin-top: -2px;
  border-radius: 8px;
}

.color {
  &0 {
    background-color: map.get(variables.$colors, 0);
  }
  &1 {
    background-color: map.get(variables.$colors, 1);
  }
  &2 {
    background-color: map.get(variables.$colors, 2);
  }
  &3 {
    background-color: map.get(variables.$colors, 3);
  }
  &4 {
    background-color: map.get(variables.$colors, 4);
  }
  &5 {
    background-color: map.get(variables.$colors, 5);
  }
  &6 {
    background-color: map.get(variables.$colors, 6);
  }
  &7 {
    background-color: map.get(variables.$colors, 7);
  }
  &8 {
    background-color: map.get(variables.$colors, 8);
  }
  &9 {
    background-color: map.get(variables.$colors, 9);
  }
  &10 {
    background-color: map.get(variables.$colors, 10);
  }
  &11 {
    background-color: map.get(variables.$colors, 11);
  }
  &12 {
    background-color: map.get(variables.$colors, 12);
  }
  &13 {
    background-color: map.get(variables.$colors, 13);
  }
  &14 {
    background-color: map.get(variables.$colors, 14);
  }
  &15 {
    background-color: map.get(variables.$colors, 15);
  }
  &16 {
    background-color: map.get(variables.$colors, 16);
  }
  &17 {
    background-color: map.get(variables.$colors, 17);
  }
  &18 {
    background-color: map.get(variables.$colors, 18);
  }
  &19 {
    background-color: map.get(variables.$colors, 19);
  }
}

.selectorIcon {
  stroke: map.get(variables.$colors, "gray", 80);
  stroke-width: variables.$svgStrokeWidth;
  width: 28px;
  height: 28px;
}

.labelBlock {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;

  margin-left: 20px;
}

.category {
  @include typography.confirmationCategoryName;
  color: map.get(variables.$colors, "gray", 60);
}

.selectedOption {
  @include typography.confirmationSelectedOption;
  color: map.get(variables.$colors, "gray", 100);
}

.editButton {
  @include typography.confirmationEditButton;
  color: map.get(variables.$colors, "gray", 60);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 44px;
  width: 100%;
  max-width: 100px;

  border: 1px solid map.get(variables.$colors, "gray", 30);
  border-radius: 8px;
}

@media only screen and (min-width: 800px) {
  .root {
    flex: 0;
    border-top: 2px solid map.get(variables.$colors, "gray", 20);
    padding-top: 16px;
  }
  .iconContainer {
    margin-top: -4px;

    width: 100px;
  }
  .labelBlock {
    gap: 8px;
  }
  .category {
    font-size: 14px;
  }
  .selectedOption {
    font-size: 36px;
    font-weight: map.get(typography.$fontWeights, "extralight");
  }
}
