.root {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  width: 100%;
  padding: 16px 0 0;
}

.backIcon {
  width: 44px;
  aspect-ratio: 1;
  padding: 10px 16px;
}

.homeLink {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.amplifierLogo {
  height: 32px;
}
