@use "../scss/variables";
@use "../scss/typography";
@use "sass:map";

.linkButton {
  @include typography.linkButton;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  border-radius: 12px;
  padding: 16px 0;
}

.greyedOut {
  @extend .linkButton;
  color: map.get(variables.$colors, "gray", 90);
  background: map.get(variables.$colors, "gray", 20);
}

.root {
  @extend .linkButton;
  color: #315b5e;
  background: #c6e8ec; /* sanity green-500, brightened and saturated */
}
