@use "../scss/variables";
@use "../scss/typography";
@use "sass:map";

.linkButton {
  @include typography.linkButton;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
  padding: 1rem 0;
}

.greyedOut {
  @extend .linkButton;
  color: map.get(variables.$colors, "gray", 90);
  background: map.get(variables.$colors, "gray", 20);
}

.greenLight {
  @extend .linkButton;
  color: #315b5e;
  background: #c6e8ec; // sanity green-500, brightened and saturated
}
