@use "../scss/variables";
@use "../scss/typography";
@use "sass:map";

.root {
  @include typography.selectorLabel;
  color: map.get(variables.$colors, "gray", 80);
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;

  height: fit-content;
  width: min(calc((35vw - 3rem)), 150px);
}

.activeSelection {
  background: map.get(variables.$colors, "gray", 10);
  border: 2px solid map.get(variables.$colors, "gray", 100);
}

.iconFrame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  aspect-ratio: 1;
  border-radius: 0.75rem;

  &:hover {
    background-color: map.get(variables.$colors, "gray", 100);
  }
}

.color {
  &0 {
    background-color: map.get(variables.$colors, 0);
  }
  &1 {
    background-color: map.get(variables.$colors, 1);
  }
  &2 {
    background-color: map.get(variables.$colors, 2);
  }
  &3 {
    background-color: map.get(variables.$colors, 3);
  }
  &4 {
    background-color: map.get(variables.$colors, 4);
  }
  &5 {
    background-color: map.get(variables.$colors, 5);
  }
  &6 {
    background-color: map.get(variables.$colors, 6);
  }
  &7 {
    background-color: map.get(variables.$colors, 7);
  }
  &8 {
    background-color: map.get(variables.$colors, 8);
  }
  &9 {
    background-color: map.get(variables.$colors, 9);
  }
  &10 {
    background-color: map.get(variables.$colors, 10);
  }
  &11 {
    background-color: map.get(variables.$colors, 11);
  }
  &12 {
    background-color: map.get(variables.$colors, 12);
  }
  &13 {
    background-color: map.get(variables.$colors, 13);
  }
  &14 {
    background-color: map.get(variables.$colors, 14);
  }
  &15 {
    background-color: map.get(variables.$colors, 15);
  }
  &16 {
    background-color: map.get(variables.$colors, 16);
  }
  &17 {
    background-color: map.get(variables.$colors, 17);
  }
  &18 {
    background-color: map.get(variables.$colors, 18);
  }
  &19 {
    background-color: map.get(variables.$colors, 19);
  }
}

@media only screen and (min-width: 800px) {
  .selector {
    gap: 0.75rem;
  }
}
