@use "./abstracts/variables";
@use "./abstracts/typography";

@use "./reset";

@use "sass:map";

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: map.get(variables.$colors, "gray", 100);
}

.container {
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  height: 100%;
}
